@font-face {
  font-family: "zermatt";
  src: url("/fonts/Zermatt-First.ttf") format("truetype");

}

@font-face {
  font-family: "zermatt2";
  src: url("/fonts/zermatt-first.otf") format("opentype");

}


@font-face {
  font-family: "NexonGothic";
  src: url("/fonts/NEXON_Lv1_Gothic_total/NEXON Lv1 Gothic Low_OTF/NEXON Lv1 Gothic Low OTF.otf")
    format("opentype");

}
@font-face {
  font-family: "NexonGothicBold";
  src: url("/fonts/NEXON_Lv1_Gothic_total/NEXON Lv1 Gothic Low_OTF/NEXON Lv1 Gothic Low OTF Bold.otf")
    format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Kaushan+Script&family=Rozha+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
