@font-face {
  font-family: "zermatt";
  src: url("/fonts/Zermatt-First.ttf") format("truetype");
  /* You can also specify other font properties like font-weight and font-style if needed */
}

@font-face {
  font-family: "zermatt2";
  src: url("/fonts/zermatt-first.otf") format("opentype");
  /* You can also specify other font properties like font-weight and font-style if needed */
}

/* styles/fonts.css */

@font-face {
  font-family: "NexonGothic";
  src: url("/fonts/NEXON_Lv1_Gothic_total/NEXON Lv1 Gothic Low_OTF/NEXON Lv1 Gothic Low OTF.otf")
    format("opentype");
  /* Add more font-face properties if needed */
}
@font-face {
  font-family: "NexonGothicBold";
  src: url("/fonts/NEXON_Lv1_Gothic_total/NEXON Lv1 Gothic Low_OTF/NEXON Lv1 Gothic Low OTF Bold.otf")
    format("opentype");
  /* Add more font-face properties if needed */
}
