@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
body {
  /* color: rgb(var(--foreground-rgb));
    /* background: linear-gradient( to bottom, transparent, #FFFBF5, #FFFBEB);   #fffbff;*/
  background-color: #fff;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  /* #FFFBEB; */
  /* overflow-y: hidden;  rgb(243, 243, 239);   #F9FCFB;   #1d040b;  */

  /* font-family: 'NanumGothic', "Malgun Gothic", 'dotum', '돋움', sans-serif; */
}

.text-non-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.phone_number_input {
  --placeholder-size: 13px;
}

.phone_number_input::placeholder {
  font-size: var(--placeholder-size);
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-tb;
}
/* Adjust the size and opacity of the noise pattern as needed */

.landing {
  background-image: url("/images/bert-hall.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #561421; */
}

.steps-background {
  /* background-image: url("/images/bert-wedd.jpeg");     #F9FCFB; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9fcfb;
}

/* .background-fade {
    background-color: transparent;
    animation: fillUpBackground 1s ease forwards;
    rgb(243, 243, 239);
}

@keyframes fillUpBackground {
    from {
        background-color: transparent;
        transform: translateY(100%);
    }
    to {
        background-color: white;
        transform: translateY(0);
    }
}  */

@keyframes moveBgRow1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveBgRow2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveBgRow3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-bg-row1 {
  animation: moveBgRow1 50s linear infinite;
}

.animate-bg-row2 {
  animation: moveBgRow2 25s linear infinite;
}

.animate-bg-row3 {
  animation: moveBgRow3 30s linear infinite;
}

.rdp {
  --rdp-cell-size: 55px !important; /* Size of the day cells. */
}

@media (max-height: 900px) {
  .rdp {
    --rdp-cell-size: 50px !important; /* Size of the day cells. */
  }
}
@media (max-height: 800px) and (max-width: 767px) {
  .rdp {
    --rdp-cell-size: 45px !important; /* Size of the day cells. */
  }
  .date-div {
    overflow-y: scroll;
    margin-top: 128px;
  }
}
@media (max-width: 767px) {
  .rdp {
    --rdp-cell-size: 40px !important; /* Size of the day cells. */
  }
  .date-div {
    overflow-y: visible;
  }
}

@media (max-height: 800px) and (min-width: 1200px) {
  .tool-div {
    padding-top: 128px;
    overflow-y: scroll;
  }
}

/*  range input datalist circles  */

/* Custom CSS class for styling datalist options */
.circle-options {
  list-style-type: none; /* Remove the default list-style */
  padding: 0; /* Remove default padding */
}

/* Style each option as a circle */
.circle-options option {
  border-radius: 50%; /* Make each option a circle */
  width: 5px; /* Adjust the size of the circle */
  height: 5px; /* Adjust the size of the circle */
  background-color: #007bff; /* Set the color of the circle */
  margin-right: 0px; /* Adjust the spacing between circles */
}

.marquee {
  height: 27px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 27px;
  position: absolute;
  overflow: hidden;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
  background: linear-gradient(
    to right,
    red,
    indigo,
    green,
    orange,
    red,
    blue,
    #49111c,
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.marquee span {
  float: left;
  width: 50%;
  font-size: 20px;
  /* padding-top: 1px; */
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .marquee span {
    width: 50%;
    font-size: 18px;
    /* padding-top: 1px; */
    letter-spacing: 1px;
  }
}
@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
